.share-section-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  @media (max-width: 768px) {
    gap: 24px;
  }
  @media (max-width: 540px) {
    gap: 12px;
  }
  .title-container {
    max-width: 500px;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .little-title {
      font-size: clamp(14px, 2.5vw, 20px);
      font-weight: 600;
      line-height: clamp(21px, 3.5vw, 30px);
      color: #acacac;
    }
    .big-title {
      font-size: clamp(28px, 5vw, 40px);
      font-weight: 700;
      line-height: clamp(42px, 7vw, 60px);
      color: #3a3a3a;
    }
  }
  .slider-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .image-row {
      width: 100%;
      height: 348px;
      @media (max-width: 1260px) {
        height: 300px;
      }
      @media (max-width: 480px) {
        height: 250px;
      }
      .img {
        margin: 0 8px;
        height: 348px !important;
        @media (max-width: 1260px) {
          height: 300px !important;
        }
        @media (max-width: 480px) {
          height: 250px !important;
        }
        &.one {
          width: 600px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 320px !important;
          }
          @media (max-width: 480px) {
            width: 200px !important;
          }
        }
        &.two {
          width: 393px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 210px !important;
          }
          @media (max-width: 480px) {
            width: 120px !important;
          }
        }
        &.three {
          width: 386px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 205px !important;
          }
          @media (max-width: 480px) {
            width: 118px !important;
          }
        }
        &.four {
          width: 474px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 252px !important;
          }
          @media (max-width: 480px) {
            width: 145px !important;
          }
        }
        &.five {
          width: 508px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 270px !important;
          }
          @media (max-width: 480px) {
            width: 152px !important;
          }
        }
        &.six {
          width: 458px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 245px !important;
          }
          @media (max-width: 480px) {
            width: 140px !important;
          }
        }
        &.seven {
          width: 237px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 126px !important;
          }
          @media (max-width: 480px) {
            width: 85px !important;
          }
        }
        &.eight {
          width: 344px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 183px !important;
          }
          @media (max-width: 480px) {
            width: 110px !important;
          }
        }
        &.nine {
          width: 286px !important;
          height: 100%;
          @media (max-width: 1260px) {
            width: 152px !important;
          }
          @media (max-width: 480px) {
            width: 98px !important;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .imgs {
      width: 100%;
    }
  }
}
