@import "../../styles/styles.scss";

.contact-container {
  display: flex;
  flex-direction: column;
  max-width: 1029px;
  min-height: 965px;
  gap: 128px;
  margin: 80px auto;
  font-family: $fnt-poppins;

  .contact-info {
    max-width: 644px;
    min-height: 109px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: auto;
    text-align: center;

    h2 {
      font-size: clamp(24px, 2vw, 36px);
      font-weight: 600;
      line-height: 54px;
      color: $text-primary;
    }

    p {
      font-size: clamp(12px, 1.5vw, 16px);
      font-weight: 400;
      line-height: 24px;
      color: $text-secondary;
    }
  }

  .contact-main-form {
    max-width: 1029px;
    min-height: 728px;
    display: flex;
    gap: 157px;

    .contact-details {
      max-width: 272px;
      max-height: 384px;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      .contact-item {
        display: flex;
        gap: 30px;

        img {
          max-width: 30px;
          max-height: 30px;
        }

        span {
          font-size: clamp(18px, 2vw, 24px);
          font-weight: 500;
          line-height: 36px;
          color: #3a3a3a;

          p {
            font-size: clamp(12px, 1.5vw, 16px);
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }

    .contact-form {
      max-width: 600px;
      min-height: 728px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .form-div {
        min-height: 643px;
      }

      .contact-button {
        max-width: 235px;
        max-height: 52px;
        padding: 14px 89px 14px 89px;
        border-radius: 5px;
        background-color: $clr-gold;
        border: 1px solid #b88e2f;
        cursor: pointer;
        color: $text-third;
        font-size: clamp(14px, 1.5vw, 16px);
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 1080px) {
  .contact-container {
    padding-left: 20px;
    padding-right: 20px;

    .contact-main-form {
      gap: 90px;

      .contact-details {
        padding-left: 30px;
        gap: 20px;

        .contact-item {
          gap: 10px;

          img {
            margin: 10px auto;
            max-width: 20px;
            max-height: 20px;
          }
        }
      }

      .contact-form {
        .contact-button {
          max-width: 180px;
          max-height: 45px;
          padding: 10px 60px 10px 60px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact-container {
    gap: 100px;

    .contact-main-form {
      flex-direction: column-reverse;
      margin: auto;
      gap: 100px;

      .contact-details {
        max-width: 620px;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 0px;

        .contact-item {
          span {
            font-size: clamp(16px, 2vw, 24px);
            max-width: 150px;

            p {
              font-size: clamp(10px, 1.5vw, 16px);
              font-weight: 400;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .contact-container {
    margin-top: 175px;
  }
}

@media (max-width: 375px) {
  .contact-container {
    .contact-info {
      h2 {
        line-height: 40px;
      }
    }
    .contact-main-form {
      .contact-details {
        max-width: 200px;
        flex-wrap: wrap;

        .contact-item {
          span {
            max-width: 200px;
          }
        }
      }
    }
  }
}
