$text-primary: #3a3a3a;
$text-secondary: #acacac;
$text-third: #ffffff;

$clr-gold: #b88e2f;
$clr-cream: #fff3e3;
$clr-teal: #2ec1ac;
$clr-coral: #e97171;
$clr-orange: #ff9900;
$clr-light-cream: #fcf8f3;
