$product-card-border: 1px solid #eaeaea;
$product-card-radius: 10px;
$product-hover-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$product-info-color: #a3a3a3;

.product-container {
  flex: 1 1 76%;
  .product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
