@import "../../styles/base/reset";

.product-navigation-content{
  width: 100%;
  padding: 30px 5% ;
  background-color: #FCF8F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}