.login-form {
    margin: 20px auto;
    max-width: 600px;
    margin-bottom: 50px;
    font-family: "Poppins", serif;
    padding: 0px 10px;

    .login-form-main {
        .login-form-main-title {
            font-size: 26px;
            font-weight: 600;
            color: #3A3A3A;
            text-align: center;
            padding-top: 65px;
            padding-bottom: 20px;
        }

        .login-form-main-inputs {
            .login-form-main-input-title {
                font-size: 16px;
                font-weight: 500;
                padding: 15px 0px;
                color: #3A3A3A;
            }

            .login-form-main-input {
                width: 100%;
                max-width: 600px;
                font-size: 16px;
                font-weight: 400;
                padding: 18px;
                border-radius: 15px;
                border: 1px solid #ACACAC;
            }

            .login-form-main-input::placeholder {
                color: #ACACAC;
            }
        }

        .login-form-main-subtitle {
            font-size: 16px;
            font-weight: 500;
            color: #B0BAC3;
            text-align: center;
            margin-top: 30px;
        }

        .login-form-main-links {
            width: 100%;
            max-width: 448px;
            margin: 30px auto;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .login-form-main-link {
                width: 100%;
                max-width: 210px;
                border: 1px solid #7C838A;
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;

                .login-form-main-link-text {
                    font-size: 14px;
                    font-weight: 500;
                    color: #7C838A;
                }
            }
        }

        .sing-in-text {
            color: #7C838A;
            margin-bottom: 20px;
            text-align: center;

            .sing-in-login-btn {
                color: #B88E2F;
            }
        }

        .login-form-main-btn {
            width: 164px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            background-color: #B88E2F;
            color: #FFFFFF;
            margin: auto;
            padding: 10px 0px;
            cursor: pointer;
        }

        .sing-in-main-btn-div {
            display: flex;
            justify-content: center;
        }

        .sing-in-main-btn {
            width: 269px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 500;
            background-color: #B88E2F;
            color: #FFFFFF;
            margin: auto;
            padding: 20px 0px;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 450px) {
    .login-form-main-links {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .login-form-main-input-title {
        text-align: center;
    }

    .login-form-main-input::placeholder {
        text-align: center;
    }
}